body {
    margin: 0px;

    font-family: Roboto, sans-serif;
}

body>* {
    padding: 0% 12.5%;
}

h1,
h2,
h3 {
    margin: 0px;
}

header,
footer,
#hero,
#quote {
    background-color: black;
}

#info,
#call-to-action {
    background-image: url(./img/starry-background.jpg);
}

button.board-apollo {
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 8px 24px;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
}

header a,
#hero h2 {
    font-size: 18px;
    color: #e5e7eb;
}

/* header */

header {
    padding-top: 16px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

header figure {
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

header figcaption {
    font-size: 24px;
    letter-spacing: 5px;
    color: white;
}

header ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

header a {
    letter-spacing: 2px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    color: white;
}

/* HERO */

#hero {
    padding-bottom: 128px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

#hero hgroup {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

#hero button {
    border: 2px solid #3882F6;
    color: #3882F6;
    margin-top: 8px;
}

#hero button:hover {
    background-color: #3882F6;
    color: black;
}

#hero img {
    max-width: 600px;
    min-width: 400px;
}

/* INFO */

#info {
    padding-top: 48px;
    padding-bottom: 128px;
    background-image: url(./img/starry-background.jpg);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

#info>div {
    width: 100%;
    padding: 0px 64px;
    margin: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

#info h2 {
    width: 100%;
    margin: 0px;
    font-size: 32px;
    font-weight: 1000;
    letter-spacing: 2px;
    text-align: center;
    color: #f9faf8;
}

#info a {
    text-decoration: none;
}

#info figure {
    width: fit-content;
    margin: 0px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

#info figure img {
    padding: 10px;
}

#info figure .name {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: white;
}

#info figure .description {
    width: 250px;
    font-size: 18px;
    text-align: center;
    color: #d2d3d6;
}

#info .sun .description {
    width: 400px;
}


/* QUOTE */

#quote {
    padding: 96px 22.5%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#quote blockquote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #d2d3d6;
}

#quote cite {
    font-size: 18px;
    font-weight: 1000;
    color: #f48f1d;

    display: flex;
    justify-content: flex-end;
}

/* CALL-TO-ACTION */

#call-to-action {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#call-to-action .banner {
    padding: 64px 12.5%;
    box-shadow: 0px 0px 100px 10px #3780f680;
    border-radius: 50px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#call-to-action hgroup {
    margin-right: auto;
    flex: 1;
}

#call-to-action h2 {
    margin: 0px;
    font-size: 24px;
    font-weight: bolder;
    color: #3780f680;
}

#call-to-action h3 {
    margin: 0px;
    font-weight: 500;
    font-size: 18px;
    color: #3780f680;
}

#call-to-action button {
    border: 2px solid #3780f680;
    color: #3780f680;
}

#call-to-action button:hover {
    background-color: #3780f680;
    color: black;
}

footer {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 18px;
    color: #f9faf8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}